<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>显示cookie</title>
    <link rel="stylesheet" type="text/css" href="/xxyz.css">
</head>
<body>
<div class="border">
<% include header.ejs %>
</div>
<div class="border">
<h1>显示cookie</h1>
<p>
num:<%=num%>
</p>
<p><a href="/cookie_set">设置cookie</a></p>
<p><a href="/cookie_view">显示cookie</a></p>
<p><a href="/cookie_clear">清除cookie</a></p>
</div>
<div class="border">
<% include footer.ejs %>
</div>
</body> 
</html>