<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>注销</title>
<link rel="stylesheet" type="text/css" href="/xxyz.css">
</head>
<body>
<div class="border">
<% include header.ejs %>
</div>
<div class="border">
<p>已注销！</p>
</div>
<div class="border">
<% include footer.ejs %>
</div>
</body>
</html>
