<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>获取超链接提交参数</title>
    <link rel="stylesheet" type="text/css" href="/xxyz.css">
</head>
<body>
<div class="border">
<% include header.ejs %>
</div>
<div class="border">
<h1>获取超链接提交参数</h1>
<p>张三是<%=x%>&nbsp;&nbsp;&nbsp;&nbsp;李四是<%=y%></p>
</div>
<div class="border">
<% include footer.ejs %>
</div>
</body> 
</html>